//
//  Prod.xcconfig
//  Movie List
//
//  Created by Gerlandio Lucena on 12/07/16.
//  Copyright © 2016 Gerlandio. All rights reserved.
//

#include "Pods/Target Support Files/Pods-Movie List/Pods-Movie List.adhoc.xcconfig"

SCHEME=adhoc
NAME_PRODUCT=(ADHoc)Movie List
PRODUCT_BUNDLE=net.gerlandiolucena.movielist.hml
